Settings {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 black, stop:1 gray);
}

#scrollZone {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 blue, stop:1 black);
}

Settings > QLabel, DivSetting  > QLabel, QPushButton {
    font: 500 12pt "Cantarell";
}

BoolSetting  > QLabel, TextSetting > QLabel, TextSetting > QLineEdit {
    font: 500 10pt "Cantarell";
}

BoolSetting, DivSetting, TextSetting {
    background-color: rgba(102, 153, 204, 75);
}

QLabel, QPushButton, QTextEdit {
    color:white;
}

TextSetting > QTextEdit {
    background-color:#47A;
}

QPushButton {
    color:black;
}
