Settings {
    border: 3px solid #47A;
}

Settings, #scrollZone {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 black, stop:1 gray);
    border: 3px solid rgb(68, 119, 170);
}

Settings > QLabel, DivSetting  > QLabel, QPushButton {
    font: 666 14pt "Cantarell";
}

BoolSetting  > QLabel, TextSetting > QLabel, TextSetting > QLineEdit {
    font: 666 10pt "Cantarell";
}

BoolSetting, DivSetting, TextSetting {
    background-color: rgba(102, 153, 204, 75);
}

QLabel, QPushButton, QTextEdit {
    color:#FFFFFF;
}

QPushButton, TextSetting > QTextEdit {
    background-color:#47A;
}
