About {
    border: 3px solid #47A;
}
About, QTextEdit {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 rgba(150, 150, 150, 255), stop:1 rgba(50, 50, 50, 255));
}

QWidget {
    font: 666 14pt "Cantarell";
}

QLabel, QPushButton, QTextEdit {
    color:#FFFFFF;
}

QPushButton{
    background-color:#47A;
}
