* {
    font: 500 12pt "Cantarell";
    color:white;
}

About, QTextEdit {
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0, stop:0 black, stop:1 gray);
}

QPushButton{
    color:black;
}
